/* GLOBAL STYLES FOR REFERENCE DOCS

   developer:   suef
   requires:    /common/framework/css/framework.en.css
   ========================================================================== */
/*
  Colors:

  333     dark-grey
  636363  medium-grey
  848484  light-medium-grey
  888     main heading sub-text grey
  cacaca  grey divide
  e7e7e7  grey divide
  f3f3f3  lightest grey
  0549a6  blue
  f3fbff  lightest-blue
  d9e5f3  border-blue
  136eb7  badge-blue
  7d93b0  grey-blue
  608bab. light-grey-blue
  f77700  hover
  d96500  dark-orange
  fffcb8  pale-yellow
*/
/* ==========================================================================
   MAIN
   ========================================================================== */
*, :after, :before { box-sizing: border-box; margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font: inherit; line-height: 1.2; }
dd, dl, dt, li, ol, ul { display: block; list-style: none; }
.main { font-family: 'Source Sans Pro', Arial, sans-serif; color: #333; margin: 0 0 5rem; font-size: .94rem; }
.main p { line-height: 1.6; margin: .67rem 0; }
.main a { color: #0549a6; text-decoration: none; }
.main a:hover { color: #f77700; }
sub, sup { font-size: smaller; }
.ExLine { margin: 23px 0 21px 0; border-top: 1px solid #e7e7e7; }
.main .inner img { vertical-align: middle; max-width: 100%; height: auto; }
 
/* Bullets */
.inlineSeparator:before, .formatIntroWrap .inlineSeparator:before, ul.functionList li:before, ul.FormatList li:before, .filter_list li:before, li.BulletedText:before, .special-character.FilledSmallSquare:before, .Notes li:before
{ content: ''; background: #adadad; width: 4px; height: 4px; display: inline-block; top: .55rem; vertical-align: top; position: absolute; margin: 0 .37rem; left: -1rem; }

/* ==========================================================================
   HEADING title
   ========================================================================== */

/* icons */
.iconography { float: right; display: inline-block; margin: .28rem 0 0 0; height: 46px; }
.iconography span { display: inline-block; margin: 0 0 0 .3rem; vertical-align: middle; }
.iconography:empty { display: none; }

.iconography .media-icons { position: relative; margin: .45rem 0 0 .3rem; vertical-align: top; }
.iconography .media { font-size: 0; position: relative; }
.iconography .media:before { opacity: .5; }
.iconography .media.hover .triangle:before { position: absolute; content: ''; border-top: 9px solid transparent; border-bottom: 9px solid #fff; border-left: 9px solid transparent; border-right: .67rem solid transparent; top: .87rem; right: 4px; z-index: 12; }
.iconography .media.hover .triangle:after { position: absolute; content: ''; border-top: .67rem solid transparent; border-bottom: .67rem solid #e5e5e5; border-left: .67rem solid transparent; border-right: 12px solid transparent; top: .67rem; right: 2px; z-index: 11; }
.iconography .tooltip { display: none; text-align: left; border: 1px solid #e5e5e5; box-shadow: 0px 0px .33rem 0px rgba(0, 0, 0, 0.1); background: #fff; font-weight: 400; color: #5d5c5c; padding: 8px 14px 8px 14px; height: auto; position: absolute; right: 0; font-size: .8rem; border-radius: 3px; width: auto; top: 32px; margin: auto; left: auto; bottom: auto; z-index: 10; white-space: nowrap; }
.iconography .media.hover:before { opacity: 1; }
.iconography .media.hover + .tooltip { display: block; }

.iconography .updated { cursor: pointer; padding: .33rem; margin: -.13rem 0 0 .8rem; color: #d96500; font-style: italic; text-transform: uppercase; font-size:  1.27rem; font-weight: 400; line-height: 1.1; position: relative; }
.iconography .updated .changes, .updated .hide-changes { font-size: .77rem; color: #999; margin: 0; text-transform: none; font-style: normal; }
.iconography .updated .changes { display: block; }
.iconography .updated .hide-changes { display: none; }
.iconography .updated:hover { color: #f77700; }
.iconography .new { color: #d96500; font-style: italic; text-transform: uppercase; font-size:  1.27rem; font-weight: 400; line-height: 1.1; }
.iconography .pipe { border-right: 1px solid #e5e5e5; margin: 0 .6rem; height: 26px; }
.iconography .experimental { font-size: 1rem; color: #848484; text-transform: uppercase; letter-spacing: 0; position: absolute; top: -1rem; left: 0; font-weight: 600; margin: 0; }
.iconography .experimental .text { color: #136eb7; margin: 0; vertical-align: top; top: 1px; position: relative; }

.main-heading { position: relative; margin: 2rem 0 1.07rem; }
.main-heading:after { clear:both; content: ''; display: block; }
.main-title { font-size: 2.67rem; font-weight: 600; margin: 2rem 0 1.07rem; display: inline-block; }
.main-heading .main-title { margin: 0; }
.c .main-title { color: #3f7f1f; }
.menuitem .main-title img { top: -2px; position: relative; }
#techNote .main-title, #tutorialOverview .main-title { font-family: 'Linux Libertine', Georgia, Times, serif; font-weight: 400; }
.indicator .main-title, .format .main-title, .service .main-title, .device .main-title, .frontendobject .main-title { font-weight: 400; }
.message .main-title { color: #dd1100; }
.AwaitingReviewNote + .main-title, .ObsolescenceNote + .main-title { margin: 0 0 1.07rem; }
.main-heading-type { color: #888; font-size: 1.6rem; }
.main-title-top { color: #848484; font-size: 1.27rem; font-weight: 600; top: 3rem; position: absolute; display: block; }
.ContextNameCell { display: none; }
.quote { color: #a5a5a5; }
p.subheading { color: #888; font-weight: 300; font-size: 1.2rem; margin: -1rem 0 0 .95rem; position: relative; }

.highlighting { background: #fffcb8; }
.highlighting .changes { display: none; }
.highlighting .hide-changes { display: block; }

/* ==========================================================================
   FUNCTION INTRO
   ========================================================================== */
.functionIntroWrap { padding: 1rem 0px; background: #f3fbff; margin: 0 0 1.07rem; border: 2px solid #d9e5f3; }
.functionIntro { border-bottom: 1px solid #d9e5f3; margin: 0 1.64rem; padding: .87rem 0; }
.functionIntro:last-child { border-bottom: 0; padding: .7rem 0; }
.functionIntro .code { margin: 0; line-height: 1.1; }
.functionIntro .code a { font-size: 1.07rem; }
.functionIntro .code-description { margin: .2rem 0 0 1.07rem; font-size: .97rem; line-height: 1.3; }
.functionIntro .TI { font-size: 1rem; padding: 0 0 0 .08rem; }
sub .TI, sup .TI, .functionIntro sub .TI, .functionIntro sup .TI { font-size: .8rem; }

.c .functionIntroWrap { background: #f8fffa; border-color: #dcebd1; }

.character .functionIntro table { margin: 0; width: 100%; }
.character .functionIntroWrap { background: #f3f3f3; padding: 1.37rem 1.87rem; border: 0; margin: 0 0 2.2rem; }
.character .functionIntroWrap .functionList { margin: 0; padding: 0; }

.device .functionIntroWrap { margin: 0 .3rem 1.07rem; }
.device #DeviceDescription { padding: 0 2.1rem .7rem; }
.device #DeviceDescription li { margin: 0; }
.device #DeviceDescription li:before { margin: 0; left: -.8rem; }
.device section .functionIntroWrap { border-width: 1px; padding: 0; }
.device section .functionIntro  { margin: 0 1rem; padding: .8rem 0; }

.character-img { width: 23%; padding: 0 1rem 0 0; }
.character-img img { max-width :100%; }
.MenuName a { color: #545454; font-weight: 600; }
.functionIntroWrap .MenuName { font-weight: 600; }

.indicatorIntro { line-height: 2.3; margin: 0 0 .45rem; }
.formatIntro { color: #636363; font-size: 1.2rem; font-weight: 300; }


/* ==========================================================================
   SECTION
   ========================================================================== */
section { margin: 1.5rem 0; }
.main section:last-of-type { border-bottom: 1px solid #cacaca; padding: .82rem 0; }
.main section:last-of-type h1.toggle { padding: 8px 2px !important; }
.main section#DetailsAndOptions:last-of-type { padding: .82rem 0; }
.main-title ~ section, .main-heading ~ section { border-top: 1px solid #cacaca; margin: 1.5rem 0 0; padding: .82rem 0 0; }
section:first-of-type { margin: 2rem 0 0; }
.main-title + section, .main-heading + section { margin: 1.5rem 0 0; }
.functionIntroWrap + section, .FormatList + section, .formatIntroWrap + section { border-top: 0; margin: 0; }
#techNote section { margin: 2.53rem 0 0; }
#SeeAlso { border-top: 1px solid #cacaca; margin: 2.4rem 0 0; padding: .82rem 0 0; }
section + #SeeAlso { margin: 1.5rem 0 0; }
section h1 { color: #8b8b8b; margin: 0; font-size: 1.07rem; }

#SeeAlso, #Tutorials, section[id^="Related"] { padding-bottom: 0 !important; }
#SeeAlso:last-of-type { padding-bottom: 1.5rem !important; }

#SeeAlso a { font-weight: 600; }

p.intro { font-size: .9rem; line-height: 1.6; color: #636363; margin: 0 0 1.3rem; }
p.intro a { font-weight: 300; }
p.intro span a { font-size: 1.07rem; }
.service p.intro { padding: 0 0 0 .8rem; margin: 0; }

section .toggle { color: #d96500; letter-spacing: .043rem; border-top: 0; padding-top: 0; position: relative; padding: .6rem .27rem; cursor: pointer; }
  section .toggle:hover { color: #f77700; }
section .toggle:before { content: ''; background: none; display: inline-block; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); border-left: 0; border-color: #d96500; border-width: 0 2px 2px 0; border-style: solid; width: 6px; height: 6px; left: -4px; top: -.2rem; position: relative; }
section .toggle:hover:before { border-color: #f77700; }
section .toggle.open:before { border-width: 0 0 2px 2px; left: -3px; top: -.25rem; }
  section .toggle.open:hover:before { border-color: #f77700; }

section h1.toggle.open { padding: 8px 2px; }
section h1.toggle:before { content: ''; margin: 0 .33rem 0 0; vertical-align: text-bottom; left: -2px; top: -.5rem; width: 7px; height: 7px; }
section h1.toggle:hover:before { border-color: #f77700; }
section h1.toggle { padding: 8px 2px 0; }
section h1.toggle.open:before { border-color: #d96500; top: -.5rem; left: 0; }
  section h1.toggle.open:hover:before { border-color: #f77700; }

section h2.toggle:before { top: -.1rem; }

section h3.toggle:before { top: -.15rem; }
section h3.toggle.open:before { top: -.18rem; }

section h4.toggle:before { content: ''; border-width: 0 1px 1px 0; margin: 0 3px 0 0; vertical-align: text-bottom; left: -3px; top: -.45rem; width: 4px; height: 4px; }
section h4.toggle.open:before { top: -.5rem; left: -2px; border-width: 0 0 1px 1px; }
section h5.toggle:before { content: ''; border-width: 0 1px 1px 0; margin: 0 3px 0 0; vertical-align: text-bottom; left: -3px; top: -.3rem; width: 4px; height: 4px; }
section h5.toggle.open:before { top: -.4rem; left: -2px; border-width: 0 0 1px 1px; }
section h6.toggle:before { content: ''; border-width: 0 1px 1px 0; margin: 0 3px 0 0; vertical-align: text-bottom; left: -3px; top: -.3rem; width: 4px; height: 4px; }
section h6.toggle.open:before { top: -.4rem; left: -2px; border-width: 0 0 1px 1px; }

section > .hideable { margin: 0 12px 2.53rem; }
#Examples > .hideable { margin: 0 12px 2.53rem; }
.hideable { margin: 0 12px; display: none; position: relative; }
.hideable .hideable { margin: 0 .73rem; }

section .toggle { color: #d96500; }
section h1.toggle { font-size: 1.18rem; }
section h2.toggle { font-size: 1.08rem; }
section h2 .total-examples { font-size: .7rem; }
section h3.toggle { font-size: 1rem; padding: .18rem .13rem; }
section h3 .total-examples { font-size: .67rem; }
section h4.toggle { font-size: .9rem; padding: .15rem .1rem; }
section h4 .total-examples { font-size: .64rem; }

.total-examples { top: -1px; position: relative; }
.total-examples, .open-all, .close-all { font-size: .7rem; color: #888888; font-weight: 300; }
.open-all, .close-all { display: none; }
.on.close-all, .on.open-all { display: inline-block; margin: 0 .7rem; top: -1px; position: relative; cursor: pointer; padding: 0 .3rem 1px; border: 1px solid #cacaca; border-radius: 3px; }
.open-all:hover, .close-all:hover { color: #fff; background: #cacaca; }
#Examples h1 { display: inline-block; }
#Examples p { font-size: .94rem; }
h2.toggle:last-of-type { padding: .6rem .2rem .2rem .27rem; }

#tutorialOverview .toggle { color: #0549a6; }
#tutorialOverview h2, #tutorialOverview h2.toggle { color: #d96500; padding: .6rem .2rem .2rem; }
#tutorialOverview h2:before { content: ''; width: 6px; height: 6px; display: inline-block; }
#tutorialOverview h2 a { color: #d96500; font-size: 1.08rem; }
#tutorialOverview h2 a:hover { color: #f77700; }
#tutorialOverview section:last-of-type h2.toggle { margin: 0 0 .4rem; }
#tutorialOverview h3 { margin: .5rem; font-size: 1rem; }
#tutorialOverview h4 { margin: .3rem .5rem; font-size: .9rem; }
#tutorialOverview .overviews { margin: 1rem 0 1rem 1.33rem; font-size: 1.1rem; }
#tutorialOverview h5 { margin: .3rem .5rem; font-size: .8rem; padding: 0; }
#tutorialOverview h6 { margin: .2rem .5rem; font-size: .7rem; padding: 0; }
#tutorialOverview .toggle { margin: 0; }
#tutorialOverview .hideable .hideable { margin: .5rem .5rem; }

#guide .GuideDelimiter, #guide .GuideDelimiterSubsection, #guide .GuideDelimiterTop, .HowToDelimiter, .GuideDelimiterSubsection { border-top: 1px solid #dfdfdf; margin: 1.2rem 0; height: 0; }
#guide .GuideDelimiterTop { margin: 1.5rem 0; }
#guide .GuideDelimiterSubsection + section { margin: -1.3rem 0 0 0; position: relative; border: 0; }
#guide h1.toggle { color: #333; margin: 8px 2px 1.2rem; padding: 0; }
#package h2 { color: #333; font-size: 1.08rem; }
#guide h3, #package h3 { margin: 1.2rem 0 .4rem; }
#guide h3, #guide h3 a, #package h3, #package h3 a { color: #d96500; font-size: 1.17rem; font-weight: 400; }
#guide h3 a:hover, #package h3 a:hover { color: #f77700; }
#guide .hideable h3, #package .hideable h3 { border-top: 0; margin: 1.2rem 0 0; }
#guide .hideable h3 a, #package .hideable h3 a { font-size: 1rem; }
#guide img { vertical-align: middle; }

#guide.summary-of-new-features h1.toggle { font-size: 1.35rem; }
#guide.summary-of-new-features h1.toggle:before { top: -.64rem; }
#guide.summary-of-new-features h1.toggle.open:before { top: -.67rem; }

#guide p.inlineFunctionList { line-height: 1.4; font-size: .96rem; margin: .6rem 0; font-weight: 600; }
#guide p.inlineFunctionList:last-of-type { margin: .6rem 0 0; }
#guide p.singleFunction { line-height: 1.4; font-size: .96rem; margin: .6rem 0; }
#guide p.singleFunction:last-of-type { margin: .4rem 0 .2rem; }
#guide #SeeAlso .inlineFunctionList { margin: .3rem 0 0 1.33rem; font-size: .91rem; }
#guide section ul.functionList li { margin: .3rem 0 0 1.33rem; font-size: .91rem; }

.service h3 { color: #b46625; font-size: 1rem; margin: 1rem 0; }

#techNote h3 { color: #b46625; font-size: 1rem; }

.format .FormatList { background: #f3f3f3; padding: .77rem  1.27rem; margin: 2.07rem 0 1.07rem; }
.format .formatIntroWrap { position: relative; margin: 0 0 0 .95rem; }
.format .formatIntro td { vertical-align: top; }
.format .FormatList li { margin: .57rem 0 .57rem 1rem; position: relative; }
.format .SpanColumn .formatIntro, .format .lineAbove .formatIntro { width: 94%; margin: 0; font-size: .93rem; font-weight: 400; padding: 0 0 .5rem; }
.format .SpanColumn:last-child .formatIntro { margin: 0; padding: 0 0 .2rem; }
ul.functionList li.WeakDivider { border-top: 1px solid #ddd; margin: 0 0 0 .3rem; }
ul.functionList li.WeakDivider:before { display: none; }

.device .subheading + .formatIntroWrap { margin: 2rem 0; }
.device .formatIntroWrap { background: #f3f3f3; padding: 1.5rem 2rem; margin: 1rem 0 2rem; }
.device .formatIntro { font-size: 1rem; color: #333; font-weight: 400; line-height: 1.5; }
.device .format-intro-label { color: #636363; }

a.hideable-close-button { color: #aaa; font-size: .7rem; display: block; position: absolute; z-index: 10; bottom: -2rem; }
a.hideable-close-button:before { content: ''; border-top: 1px solid #aaa; border-left: 1px solid #aaa; transform: rotate(45deg); width: 6px; height: 6px; display: inline-block; top: 2px; right: 3px; position: relative; }
a.hideable-close-button:hover:before { border-color: #f77700; }

p.smallTitle { margin: 0; font-size: .9rem; color: #a4a4a4; text-transform: uppercase; }
h2.Section { font-size: 1.5rem; color: #333; margin: 2rem 0 1rem; border-top: 1px solid #cacaca; padding: .5rem 0 0 0; font-weight: 600; }
h3.Subsection { color: #333; font-size: 1.3rem; margin: 2rem 0 1rem; }
h4.Subsubsection { font-size: 1rem; line-height: 1.2; font-weight: 600; color: #666; margin: 1.1rem 0 .5rem; }

.howto-main-links { margin: .6rem 0; }

/* ==========================================================================
   FUNCTION LIST
   ========================================================================== */
ul.functionList { margin: .44rem 0 1.32rem 1.07rem; padding: 0; color: #333; }
ul.functionList li { padding: 0; margin: .47rem 0 0 1rem; line-height: 1.4; position: relative; }
#SeeAlso .inlineFunctionList { margin: .44rem 0 0 1.52rem; font-size: .98rem; }
#Tutorials ul.functionList, section[id^="Related"] ul.functionList { margin: .44rem 0 0 1.3rem; font-size: .98rem; }
#Tutorials ul.functionList li, section[id^="Related"] ul.functionList li { margin: .44rem 1rem; }
.main .inner section:last-of-type ul.functionList { margin-bottom: 2rem !important; }

section { position: relative; }
section ul.functionList { margin: .44rem 0 1.32rem .82rem; }
section ul.functionList li { margin: .3rem 0 0 1.52rem; font-size: .98rem; line-height: 1.4; }
.service section ul.functionList { margin: .44rem 0 1.32rem 0; }
.device section ul.functionList { margin: .44rem .8rem .5rem .8rem; }
.device section ul.functionList li { margin: .67rem 1rem; }
.inlineFunctionList .inlineSeparator:before { position: relative; left: 0; top: .65rem; }

.hideable ul.functionList:last-child { margin: .44rem 0 0 1.07rem; }
.hideable ul.functionList li { margin: .67rem 0; }
.hideable ul.functionList li:last-child { margin-bottom: 0; }
#DetailsAndOptions ul.functionList:last-of-type { margin: .44rem 0 0 1.07rem; }

#DetailsAndOptions { margin: 0; padding: .83rem 0 0; }
#DetailsAndOptions .open ~ .NotesThumbnails { display: none; }
.NotesThumbnails { padding: .82rem; margin: .5rem 0 0; position: relative; position: relative; overflow: hidden; white-space: nowrap; }
.NotesThumbnails img { width: 188px; box-sizing: content-box; padding: 0 5px 0 0; }
.NotesThumbnails td:first-of-type { display: none; }

#DetailsAndOptions:hover h1.toggle { color: #f77700; }
#DetailsAndOptions:hover h1.toggle:before { border-color: #f77700; }
#DetailsAndOptions:hover h1.toggle.open { color: #d96500; }
#DetailsAndOptions:hover h1.toggle.open:before { border-color: #d96500; }
#DetailsAndOptions h1.toggle.open:hover { color: #f77700; }
#DetailsAndOptions h1.toggle.open:hover:before { border-color: #f77700; }

#DetailsAndOptions:hover .NotesThumbnails:after { cursor: pointer; content: ''; background: #00aaff; position: absolute; top: 0; bottom: 0; right: 0; left: 0; opacity: .06; z-index: 10; }
.c #DetailsAndOptions:hover .NotesThumbnails:after { background: #00ff2b; }

#DetailsAndOptions + #Examples { margin: 1rem 0 0 0; }

.NotesThumbnails td { padding: 1rem; }

ul.functionList li.functionessay { margin: 0 0 1.3rem -1rem; }
ul.functionList li.functionessay:before { display: none; }

/* ==========================================================================
   TABLES
   ========================================================================== */
table { position: relative; width: 80%; margin: 0 0 1rem; border-collapse: collapse; font-size: .92rem; vertical-align: top; table-layout: fixed; }
ul.functionList li.NotesTable:before { display: none; }
#DetailsAndOptions ul.functionList li.NotesTable { margin: 0; text-indent: 0; }
.NotesTable a:empty { font-size: 0; }
.NotesTable td { border-top: 1px solid #e7e7e7; border-bottom: 1px solid #e7e7e7; padding: .33rem 0; line-height: 145%; vertical-align: top; text-indent: 0; }
.NotesTable td:first-child { padding: 0; }
.NotesTable td:empty { width: 2px; }
.NotesTable td:nth-child(2n) { width: 20%; }
.NotesTable:last-child table { margin: 0 0 0; }
#Elements .NotesTable .TT li.NotesTable { margin: 0; font-size: .92rem; }
.format .NotesTable { margin: 0 0 0 1.07rem; }
.format .NotesTable td:first-child { padding: 0; }

.MathTable { background: #fbfbfb; border: 1px solid #e2e2e2; width: 100%; padding: .5rem 1.3rem .5rem 1.3rem; margin: 2.07rem 0 0; }
.MathTable.first td { font-size: 1.07rem; }
.MathTable table { width: 100%; table-layout: fixed; margin: 0; }
.MathTable td { padding: .37rem .27rem; vertical-align: top; }
.MathTable .TableHeader { font-weight: 600; }
.MathTable .topBorder { border-top: 1px solid #e2e2e2; }
.MathTable .topBorder td { padding: .57rem .27rem; }
.MathTable a { font-weight: 600; }
.MathTable .specialcharacters { font-weight: 400; }
p.Text + .MathTable { margin: 1.6rem 0 0; }

.FunctionTable { max-width:620px; margin:-14px 10px 20px 6px; padding:2px; font-weight: 600; }
.FunctionTable td span.MR {padding: 2px; font-size: .9rem;}
.FunctionTable tr.lineAboveSpanColumn td.IconColumn { vertical-align:top; border-bottom:0px; border-top:0px; }
.FunctionTable tr.lineAboveSpanColumn td { vertical-align:top; border-bottom:0px; border-top:1px solid #ddd; }
.FunctionTable tr.SpanColumn td { border-bottom:0px; }
.FunctionTable td.IconColumn { vertical-align:top; border-bottom:0px; border-top:0px; }
.FunctionTable tr td { vertical-align:top; border-bottom:1px solid #ddd; }
.FunctionTable tr.lineAbove td.IconColumn { vertical-align:top; border-bottom:0px; border-top:0px; }
.FunctionTable tr.lineAbove td { vertical-align:top; border-bottom:1px solid #ddd; border-top:1px solid #ddd; }

.nogridboxdividers { width: 100%; }
.nogridboxdividers td { vertical-align: top; }

/* ==========================================================================
   TECH NOTES
   ========================================================================== */
.MCap { margin: 1.07rem 0; line-height: 1.6; font-size: .93rem; color: #636363; }
p.Text { margin: 0 0 1.07rem; line-height: 1.6; font-size: 1.07rem; }
p.Text { margin: .3rem 0 1.07rem; }
p.Caption { font-size: .94rem; margin: 0 0 1.6rem; font-weight: 300; }

.AwaitingReviewNote, .ObsolescenceNote { background: #f8f8f8; border: 1px solid #dedede; padding: .7rem 12%; margin: 0 auto 1.5rem; border-radius: 4px; font-size: .9rem; display: table; vertical-align: middle; }
.topContentWrap + .ObsolescenceNote, .topContentWrap .AwaitingReviewNote { margin: 1.5rem auto; }
.awaiting-review-note-inner { text-align: left; display: table-cell; }
.TutorialJumpBox { margin: 0 0 2rem; }
.TutorialJumpBox .nogridboxdividers { margin: 0; }
.TutorialJumpBox a { color: #5c5c5c; background: url(/2013/images/jump-arrow-off.png) no-repeat 0 6px; font-size: .9rem; line-height: 1.5; display: block; padding-left: 1rem; text-indent: 0;
}

.DeviceAbstract { font-size: 1rem; margin: 1rem 0; }
.DeviceImageCaption { font-size: .9; margin: 1rem 0; font-style: italic; }

/* ==========================================================================
   MANPAGE
   ========================================================================== */
.man-page .main-title { color: #42821f; font-weight: 600; }
.man-page h2 { color: #42821f; border-top: 1px solid #d5d5d5; text-transform: uppercase; margin: 1.66rem 0 .67rem; padding: .33rem 0 0 0; }
.man-page h3 { color: #42821f; margin: 1.33rem 0 1rem 1.33rem; font-weight: 600; }
.man-page p + h3 { margin: 1.33rem 0 1rem 1.33rem; }
.man-page p { margin: 0 0 .33rem 1.33rem; color: #808080; font-size: .93rem; line-height: 1.5; font-weight: 400; }
.man-page p.code { text-indent: -1.33rem; padding: .33rem 0 .33rem 1.33rem; margin: .33rem 0 0 1.33rem; }
.man-page h2 + p.code, .man-page h3 + p.code {  border-top: 0; margin: 0 0 0 1.33rem; padding: 0 0 .33rem 1.33rem; }
.man-page code { font-family: 'Source Code Pro', 'Consolas', 'Menlo' !important; font-size: .87rem; color: #1d1d1d; white-space: pre-line; line-height: 1.2; }
.man-page em { font-family: 'Source Code Pro'; font-weight: 400; color: #8c8c8c; font-size: 1rem; }
.man-page pre { margin: 0 0 1.33rem 1.33rem; background: #f2f2f2; border: 1px solid #d5d5d5; padding: .67rem; }
.man-page .with-file { border: 1px solid #d5d5d5; position: relative; margin: .67rem 0 1.33rem 1.33rem; }
.man-page .with-file pre { background: #fff; border: 0; margin: 0; padding: .67rem; }
.man-page .file-name { margin: 0 3.33rem 0 .67rem; padding: 0 0 0 1rem; top: -.6rem; display: inline-block; position: absolute; color: #5893cf; background: #fff url('/2013/images/file-folder-icon-small.png') no-repeat left center; }
.man-page strong code { font-weight: 600 !important; color: #1d1d1d; }
.man-page .modified { margin: 0 0 1rem 1.33rem; padding-top: .8rem; border-top: 1px solid #d5d5d5; color: #999999; font-style: italic; font-size: .73rem; }
.man-page .mainOuter .mainContent { border-top: .33rem solid #b7b7b7; }
.man-page .NotesTable { margin: 0 0 2.67rem 1.33rem; padding: 0; }
.man-page .NotesTable table { border-collapse: collapse; }
.man-page .lineAboveSpanColumn td, .man-page .topBorder td { border-top: 1px solid #ddd; }
.man-page .TI { letter-spacing: default; color: #8c8c8c; font-size: 1rem; font-weight: 400; }
.man-page .InlineCode { font-size: .87rem; }
.man-page .NotesTable table td { padding: 0 0 .67rem 0; }
.man-page .NotesTable table td:nth-child(1) { display: none; }
.man-page .NotesTable table td:nth-child(2) { width: 80%; }
.man-page .NotesTable table td:nth-child(3) { text-align: right !important; }
.man-page section:first-of-type { border-top: 1px solid #cacaca; margin: 2rem 0 0 0; }

/* ==========================================================================
   ALPHABET LISTING
   ========================================================================== */
.AlphabetListingJumpTo + h3, .AlphabeticalListing + h3  { margin: 0; padding-top: 5px; border-top: 1px solid silver; }
.AlphabeticalListing { margin: 0 0 1rem; }
.AlphabetListingJumpTo { margin: 0 0 2rem; padding: 10px; background: #ededed; border: 1px solid silver; font-weight: bold; z-index: 10; }
.AlphabetListingJumpTo a { margin: 0 10px 0 0; }
.AlphabeticalListing table { margin: .5rem 0 0; }
.AlphabeticalListing table td { width: 218px; }
.AlphabeticalListing table a { display:inline-block; }

/* ==========================================================================
   INPUTS AND OUTPUTS
   ========================================================================== */
.lab { width: 35px; font-size: 9px; line-height: 1; font-family: Arial, sans-serif; color: #999; text-align: right; vertical-align: top; padding: 8px 0 0 0; white-space: nowrap; }
.Input { padding: 2px 4px 2px; }
.Output { padding: 1px 4px 2px; }
.IO { position: relative; margin: 1rem 0; }
.IO table { width: auto; max-width: 100%; }
.IO .Output img { max-width: 100%; height: auto; }
.IO .Message { margin: 0 0 1rem 73px; }
.InCell { min-width: 210px; margin: .5rem 0; }
.number { display: none; }
.celllabelTableForm { font-size: .7rem; line-height: 1; font-family: Arial, sans-serif; color: #828282; margin: .37rem 0 0 1.57rem; }
.IO .Print { margin: 0 73px 5px; }
.IO .Print:last-of-type { margin: 0 73px 1.4rem; }
p + .IO { margin: 0 0 1rem; }

/* ==========================================================================
   PLAY ANIMATION
   ========================================================================== */
.playAnimation { display: none; background: #f5f5f5; border: 1px solid #e5e5e5; border-radius: 3px; padding: 8px; position: absolute; top: -53px; left: 0; right: 0; margin: auto; width: 130px; color: #898989; font-size: 12px; font-family: 'Roboto', Arial, Helvetica, sans-serif; text-align: center; z-index: 10; white-space: nowrap; }
.playAnimation:before { content: ''; border-top: 9px solid #f5f5f5; border-bottom: 9px solid transparent; border-left: .67rem solid transparent; border-right: .67rem solid transparent; display: block; width: 0; height: 0; position: absolute; top: 34px; left: 0; right: 0; margin: auto; z-index: 10; }
.playAnimation:after { content: ''; border-top: .67rem solid #e5e5e5; border-bottom: .67rem solid transparent; border-left: .73rem solid transparent; border-right: .73rem solid transparent; display: block; width: 0; height: 0; position: absolute; top: 34px; left: 0; right: 0; margin: auto; z-index: 9;
}
.animation .playAnimation + span:after { content: ''; left: 0; top: 0; display: inline-block; width: 100%; height: 100%; position: absolute; z-index: 100; }
.playAnimation { line-height: 1.5; }
.animation { box-shadow: 0 0 4px 0 transparent; }
.animation:hover { background: #f7f7f7; padding: .33rem; position: relative; box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1); border-radius: .33rem; }
.animation:hover .playAnimation { display: block; }
.animation:active .playAnimation + span:before { background-position: -26px 0; background-size: 52px; }
.animation.pause:hover .playAnimation + span:before { background: 0 -26px; background-size: 52px; }
.animation.pause:active .playAnimation + span:before { background: -26px -26px; background-size: 52px; }
.animation object { display: inline-block; }

/* ==========================================================================
   CLIPBOARD
   ========================================================================== */
.InCell:hover .Input img { filter: invert(0.03); -webkit-filter: invert(0.03); -ms-filter: invert(0.03); }
.InCell { box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0); padding: .33rem; border-radius: .33rem; width: auto; line-height: 0; }
.InCell:hover { background: #f7f7f7; position: relative; box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1); }

.InCell .tooltip { line-height: 1.3; display: block; background: #f5f5f5; border: 1px solid #e5e5e5; border-radius: 3px; padding: 8px; position: absolute; top: -53px; left: 0; right: 0; margin: auto; width: 130px; color: #898989; font-size: 12px; font-family: 'Roboto', Arial, Helvetica, sans-serif; text-align: center; z-index: 10; white-space: nowrap; }
.InCell .tooltip.bottom { top: auto; bottom: -53px; }

.clipboard { width: 28px; height: 28px; border-radius: 28px; background-color: #fff; border: 1px solid #e5e5e5; position: absolute; top: 0; left: -20px; bottom: 0; margin: auto; }
.clipboard:before { background-position: 0 0; top: 0; bottom: 0; left: 0; right: 0; margin: auto; position: absolute; }
.clipboard.copied:before { background-position: -12px  0; }
.InCell .tooltip:before { content: ''; border-top: 9px solid #f5f5f5; border-bottom: 9px solid transparent; border-left: .67rem solid transparent; border-right: .67rem solid transparent; display: block; width: 0; height: 0; position: absolute; top: 30px; left: 0; right: 0; margin: auto; z-index: 10; }

.InCell .tooltip:after { content: ''; border-top: .67rem solid #e5e5e5; border-bottom: .67rem solid transparent; border-left: .73rem solid transparent; border-right: .73rem solid transparent; display: block; width: 0; height: 0; position: absolute; top: 31px; left: 0; right: 0; margin: auto; z-index: 9; }

.InCell .tooltip.bottom:before { border-top: 9px solid transparent; border-bottom: 9px solid #f5f5f5; border-left: .67rem solid transparent; border-right: .67rem solid transparent; top: -17px; }
.InCell .tooltip.bottom:after { border-top: .67rem solid transparent; border-bottom: .67rem solid #e5e5e5; border-left: .73rem solid transparent; border-right: .73rem solid transparent; top: -19px; }

.InCell.hover:active { background: #f5f5f5; }
.InCell.hover:active .tooltip { display: none; }
.InCell.hover:active .clipboard { background-color: #f5f5f5; }
.IFL { overflow: hidden; width: 1px; height: 1px; color: transparent; font-size: 1; line-height: 1; z-index: 0; position: absolute; }
.IFL.show { padding: .67rem; font-size: .67rem; line-height: 1.5; background: #f7f7f7; border-radius: .33rem; border: 1px solid #e5e5e5; box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1); padding: .67rem 1.33rem 1.33rem; color: #494949; height: auto; z-index: 2; position: absolute; width: 450px; margin-top: .33rem; }
.IFL.show .text { max-height: 300px; background: #fff; border: 1px solid #e5e5e5; padding: .33rem; margin-top: .67rem; overflow-y: auto; }
.IFL .close { box-sizing: border-box; position: absolute; width: 2.67rem; height: 2.67rem; top: 0; right: 0; padding: 2px 0 0 23px; cursor: pointer; display: block; }

/* ==========================================================================
   BOTTOM CONTENT
   ========================================================================== */
.hideable:after { content: ''; clear: both; display: block; height: 1px; }
.modified { color: #999999; font-style: italic; font-size: .87rem; margin: 0; padding: .67rem 0px 0px 0px; }
.history-version { display: inline; color: #b2b2b2; }

.feedback { background: transparent; border: 0; float: right; font-size: 1.07rem; color: #d96500; margin: .5rem 0 0; position: relative; }
.feedback:hover { color: #f77700; }
.feedback-form { display: none; }
.feedback-form .text { margin: 0 0 .3rem; display: block; }
.feedback-form table { margin: 0 -.7rem; width: 101%; }
.feedback-form-heading { color: #d96500; font-size: 1.07rem; }
.feedback-form textarea, .feedback-form input[type="text"], .feedback-form input[type="email"] { width: 100%; padding: .3rem; border: 1px solid #cacaca; }
.feedback-form table { border-spacing: .7rem; border-collapse: separate; }
#feedbackMessage { width: 100%; }
.feedback-form #thank_you { padding: 2rem 0; }
.errorHighlight .errorbox { display: block !important;  min-height: 1rem; margin: .33rem 0 0 0; padding: 0 0 0 1.33rem; background: url(/common/images/m10/form-icon-error.png) no-repeat 0 1px; color: #dd1100; font-size: .87rem; font-weight: 600; }
.errorHighlight #feedbackMessage { border-color: #dd1100; }

.feedback-content { position: relative; padding: 0 0 3rem; }
.modified + .feedback-content .feedback { top: -20px; margin: 0; }
.toggle + .hideable { display: none; }

.footer-links .inner { display: none; }
#languageRootGuide .footer-links { background: #363636; }
.footer-links { background: #e0e0e0; padding: 1rem 0 1.2rem; text-align: center; position: relative; }
#languageRootGuide .footer-links a { color: #fff; }
.footer-links a { font-size: .9rem; color: #333; margin: 0 1rem; display: inline-block; vertical-align: middle; opacity: .9; line-height: 2.5; }
#languageRootGuide .footer-links a:hover { color: #fff; opacity: 1; }
.footer-links a:hover { color: #333; opacity: 1; }

a.toplink.above-footer { position: absolute; top: -3rem; bottom: auto; }
a.toplink { display: none; color: #ccc; position: fixed; text-align: center; width: 25px; right: 3%; bottom: 3%; font-size:  1.07rem; line-height: 1; }
a.toplink:before { position: relative; top: -5px; z-index: 10; }
a.toplink:after { content: ''; display: block; width: 25px; height: 25px; background: #cbcbcb; border-radius: 3px; top: -10px; position: absolute; }
a.toplink:hover:after { background: #f77700; }
a.toplink .top { white-space: nowrap; display: inline-block; }

.button { padding: .4rem 1.4rem; font-size: .93rem; border-radius: 3px; display: inline-block; }
.feedback-form #submit.button { background: #dd1100; color: #fff; border: 1px solid #b00f00; float: right }
.feedback-form #submit.button:hover { background: #fe0000; }
.feedback-form #submit.button:active { background: #b00f00; }

.opened, .open + .hideable, .open + span + span + .hideable, .open + .NotesThumbnails ~ .hideable
{ display: block; }
.last { margin-bottom: 0 !important; }
.last *:last-child { margin-bottom: 0; }

/* ==========================================================================
   responsive breakpoint styles
   ========================================================================== */

/* styles for large screens (1200px)
   ========================================================================== */

@media all and (max-width: 1200px) {
    .main { font-size: 1rem; }
    .main #Examples p { font-size: 1rem; }
}

/* styles for medium screens (900px)
   ========================================================================== */

@media all and (max-width: 900px) {
    .AlphabeticalListing table td { width: 100%; display: block; }
}

/* styles for small screens (600px)
   ========================================================================== */

@media all and (max-width: 600px) {
    .main-heading { margin: 1rem 0; }
    .topContentWrap + .main-title { margin: 1rem 0; }
    .main-title { font-size: 2.3rem; }

    .iconography .updated { top: -.2rem; }

    /* notes table */
    .NotesTable table { width: 100%; text-indent: 0; }
    .NotesTable td { border-top: 0; border-bottom: 0; }
    .NotesTable td:first-child { padding: 0; }
    .NotesTable colgroup { display: none; }
    .NotesTable.three-col td:nth-child(2) { display: inline-block; padding-bottom: 0; }
    .NotesTable.three-col td:nth-child(3) { font-weight: normal; display: inline-block; padding-bottom: 0; padding-right: 0; float: right; color: #333; }
    .NotesTable.three-col td:nth-child(3) a { color: #333; font-weight: normal; }
    .NotesTable.three-col td:nth-child(4) { border-bottom: 1px solid #ddd; display: block; width: 100%; padding-left: 1.33rem; padding-top: 0; }
    .NotesTable.two-col td:nth-child(2) { display: block; width: 100%; padding-bottom: 0; }
    .NotesTable.two-col td:nth-child(3) { display: block; padding-left: 1.33rem; padding-top: 0; border-bottom: 1px solid #ddd; width: 100%; }
    .NotesTable.two-col tr:last-child td, .NotesTable.three-col tr:last-child td { border-bottom: 0; }

    .MathTable { width: 100%; padding: .5rem .6rem; }
    .MathTable colgroup { display: none; }
    .MathTable .lineAbove td { padding: 0 0 5px; }
    .MathTable td:nth-child(2) { float: right; }
    .MathTable td:nth-child(3) { display: block; width: 100%; padding: 0 0 .5rem 1rem; }
    .MathTable td { display: inline-block; padding: .5rem 0; }
    .MathTable tr { border-top: 1px solid #cacaca; }
    .MathTable tr:first-child { border-top: 0; }

    /* inputs and outputs */
    .lab { display: none; }
    .IO .Message { margin: 0; }
    .InCell .number:after, .OCell .number:after { font-family: Arial, sans-serif; content: ''; display: inline-block; line-height: 1; color: #bbb; font-size: 1rem;
    position: relative; width: 4px; height: 7px; left: 1px; top: 0; }
    .InCell .number:after { content: '\00bb'; }
    .OCell .number:after { content: '\203a'; }
    .InCell .number, .OCell .number { font-size: .7rem; font-family: Arial, sans-serif; position: relative; display: table-cell; color:#999; width: 1rem; vertical-align: text-top; top: 5px; right: 3px; white-space: nowrap; text-align: left; left: 1px; }
    .OCell img { max-width: 100%; }
    .IO .Print { margin: 0 0 5px; }

    #techNote .IO, .howto .IO { margin: 1rem 0 0 1.2rem; }

    .character-img, .character-img + td { width: 100%; display: block; }

    /* clipboard */
    .clipboard { display: none; }
    .tooltip { left: 0; }
    .InCell, .OCell { left: -18px; position: relative; }
    #Examples .hideable { margin: 0 0 0 .37rem; }
    #Examples .hideable .hideable { margin: 0 0 0 .67rem; }
    #Examples .hideable .hideable .hideable { margin: 0; }

    .functionIntroWrap { margin: 0 -1rem; position: relative; border-left: 0; border-right: 0; }
    .device .functionList { margin: 0; }

    .AlphabetListingJumpTo, .AlphabetListingJumpTo.sticky { margin: 0 10px 25px !important; }

    .footer-links { text-align: left; }
    .footer-links a { display: block; margin: 0 0 0 3rem; }
    .footer-links br { display: none; }
    footer.footer-links .icon:before { background-position: center center; }
    .search { width: 100%; }
    .modified + .feedback-content .feedback, .feedback { float: none; top: 10px; position: relative; }
}