/* STYLES FOR REFERENCE DOCS ROOT GUIDE PAGE

   developer:   suef
   requires:    /common/framework/css/framework.en.css
                /language-assets/css/global.css
   ========================================================================== */

body#languageRootGuide { background:#414141; }
#languageRootGuide .main { margin: 0 0px 4.5rem; padding: 1.5rem 0 0 0; }
#languageRootGuide .container, .footer-link { text-align: center; font-size: 0; position: relative; clear: both; }
#languageRootGuide .container { padding: 0; border-bottom: 0; }
#languageRootGuide section { margin: 0; }

#languageRootGuide .thumb { text-align: left; display: inline-block; border: 4px solid #414141; width: 33.33%; cursor: pointer; vertical-align: top; }

#languageRootGuide .podheader { width: 100%; height: 85px; display: table; table-layout: fixed; background-position: right; background-repeat: no-repeat; background-size: 78px 62px; }
#languageRootGuide   .podheader .title { display: table-cell; vertical-align: middle; color: #fff; font-size: 1.15rem; line-height: 1.2; padding: 0 90px 0 20px; text-shadow: 0px 1px 4px rgba(0, 0, 0, .3); }
#languageRootGuide .spacer { position: relative; }
#languageRootGuide .links-list { background: #fff; position: absolute; display: none; z-index: 9999; cursor: default; left: 4px; right: 5px; padding: 1.5rem 0 2rem; text-align: center; }
#languageRootGuide   .links-list ul { list-style-type: none; margin: 0; padding: 0; text-align: left; }
#languageRootGuide     .links-list ul li { background: none; padding: 0px; padding: 0 0 0 1rem; position: relative; }
#languageRootGuide .links-list a { font-size: 1.07rem; padding: .3em 0; color: #464646; line-height: 1.2; font-weight: 600; display: block; }
#languageRootGuide   .links-list a:before { content: '\00bb'; display: inline-block; margin: 0 3px 0 0; font-size: 1.4rem; left: 0; top: .01rem; position: absolute; }
#languageRootGuide .links-list ul { border-top: 1px solid #cacaca; margin: 1rem 0 0; padding: 1rem 0 0; }
#languageRootGuide .links-list ul:first-child { border-top: 0; margin: 0; padding: 0; }

#languageRootGuide .icon1 { background-image: url('/language-assets/img/icon_corelang2x.png'); }
#languageRootGuide .icon4 { background-image: url('/language-assets/img/icon_symbolic2x.png'); }
#languageRootGuide .icon3 { background-image: url('/language-assets/img/icon_visualization2x.png'); }
#languageRootGuide .icon2 { background-image: url('/language-assets/img/icon_data2x.png'); }
#languageRootGuide .icon5 { background-image: url('/language-assets/img/icon_strings2x.png'); }
#languageRootGuide .icon6 { background-image: url('/language-assets/img/icon_graphs2x.png'); }
#languageRootGuide .icon7 { background-image: url('/language-assets/img/icon_images2x.png'); background-size: 93px 62px; }
#languageRootGuide .icon8 { background-image: url('/language-assets/img/icon_geometry2x.png'); }
#languageRootGuide .icon9 { background-image: url('/language-assets/img/icon_sound2x.png'); }
#languageRootGuide .icon10 { background-image: url('/language-assets/img/icon_time2x.png'); }
#languageRootGuide .icon11 { background-image: url('/language-assets/img/icon_geographic2x.png'); }
#languageRootGuide .icon12 { background-image: url('/language-assets/img/icon_scientific2x.png'); }
#languageRootGuide .icon13 { background-image: url('/language-assets/img/icon_eng2x.png'); }
#languageRootGuide .icon14 { background-image: url('/language-assets/img/icon_finance2x.png'); }
#languageRootGuide .icon15 { background-image: url('/language-assets/img/icon_social2x.png'); }
#languageRootGuide .icon16 { background-image: url('/language-assets/img/icon_highermath2x.png'); }
#languageRootGuide .icon17 { background-image: url('/language-assets/img/icon_documents2x.png'); }
#languageRootGuide .icon18 { background-image: url('/language-assets/img/icon_ui2x.png'); }
#languageRootGuide .icon19 { background-image: url('/language-assets/img/icon_system2x.png'); }
#languageRootGuide .icon20 { background-image: url('/language-assets/img/icon_external2x.png'); }
#languageRootGuide .icon21 { background-image: url('/language-assets/img/icon_cloud2x.png'); }

#languageRootGuide .redbg { background: linear-gradient(to bottom, #b01028 0%, #991827 100%); }
#languageRootGuide   .redbg:hover { background: linear-gradient(to bottom, #9e0e24 0%, #8a1623 100%); }
#languageRootGuide   .redbg.selected { background: #dd1100; }
#languageRootGuide   .redbg .links-list { border-top: 5px solid #dd1100; }
#languageRootGuide   .redbg .links-list a:before { color: #dd1100; }
#languageRootGuide   .redbg .links-list a:hover { color: #dd1100; }

#languageRootGuide .orangebg { background: linear-gradient(to bottom, #e08417 0%, #994f11 100%); }
#languageRootGuide   .orangebg:hover { background: linear-gradient(to bottom, #b16A16 0%, #994f11 100%); }
#languageRootGuide   .orangebg.selected { background: #f77700; }
#languageRootGuide   .orangebg .links-list { border-top: 5px solid #f77700; }
#languageRootGuide   .orangebg .links-list a:before { color: #f77700; }
#languageRootGuide   .orangebg .links-list a:hover { color: #f77700; }

#languageRootGuide .bluebg { background: linear-gradient(to bottom, #208ba3 0%, #246f81 100%); }
#languageRootGuide   .bluebg:hover { background: linear-gradient(to bottom, #1d7d93 0%, #206474 100%); }
#languageRootGuide   .bluebg.selected { background: #46adcc; }
#languageRootGuide   .bluebg .links-list { border-top: 5px solid #46adcc; }
#languageRootGuide   .bluebg .links-list a:before { color: #46adcc; }
#languageRootGuide   .bluebg .links-list a:hover { color: #46adcc; }

#languageRootGuide .greenbg { background: linear-gradient(to bottom, #8bb636 0%, #678630 100%); }
#languageRootGuide   .greenbg:hover { background: linear-gradient(to bottom, #7da431 0%, #5d792b 100%); }
#languageRootGuide   .greenbg.selected { background: #9cbb38; }
#languageRootGuide   .greenbg .links-list { border-top: 5px solid #9cbb38; }
#languageRootGuide   .greenbg .links-list a:before { color: #9cbb38; }
#languageRootGuide   .greenbg .links-list a:hover { color: #9cbb38; }

#languageRootGuide .tealbg { background: linear-gradient(to bottom, #23a58a 0%, #2b896a 100%); }
#languageRootGuide   .tealbg:hover { background: linear-gradient(to bottom, #20947c 0%, #277b5f 100%); }
#languageRootGuide   .tealbg.selected { background: #2eb986; }
#languageRootGuide   .tealbg .links-list { border-top: 5px solid #2eb986; }
#languageRootGuide   .tealbg .links-list a:before { color: #2eb986; }
#languageRootGuide   .tealbg .links-list a:hover { color: #2eb986; }

#languageRootGuide .divider { border-top: 1px solid #cacaca; margin: -10px 20px -5px 20px; margin: 1rem 0; width: 80%; }

#languageRootGuide .toplink { display: none !important; }

#languageRootGuide .half { width: 28%; display: inline-block; vertical-align: top; margin: 0 8% 0 0; }
#languageRootGuide .half:last-child, .third:last-child { margin: 0; }
#languageRootGuide .third { width: 23%; display: inline-block; vertical-align: top; margin: 0 8% 0 0; }

/* ==========================================================================
   FOOTER
   ========================================================================== */
#languageRootGuide footer .inner { margin: 0 auto; padding: 0 2%; text-align: center; display: block; line-height: 1; }
#languageRootGuide footer a.language-home { margin: 0 0 1rem; display: none; background: transparent; padding: 0; }
#languageRootGuide footer a.language-home:hover { color: #fff; }

/* ==========================================================================
   responsive breakpoint styles
   ========================================================================== */
@media (max-width: 900px) {
    #languageRootGuide .half { width: 43%; margin: 0 4% 0 0; }
    #languageRootGuide .third { width: 28%; margin: 0 4% 0 0; }
    #languageRootGuide .thumb { width:50%; }
    #languageRootGuide .podheader { height:65px; }
    #languageRootGuide .links-list { padding: 1rem; }
    #languageRootGuide .links-list ul, .links-list .divider { width: 90%; }
    #languageRootGuide .thumb:last-child { float: left; }
}
@media (max-width: 600px) {
    #languageRootGuide .footer-link a { font-size: .75rem; }
    #languageRootGuide .half { width: 100%; margin: 0; }
    #languageRootGuide .third { width: 100%; margin: 0; }
    #languageRootGuide .thumb { width: 100%; border: 0; }
    #languageRootGuide .links-list { padding: 1rem 1.5rem; left: 0; right: 0; }
    #languageRootGuide .links-list ul { width: 100%; }
    #languageRootGuide .links-list ul:first-child { border-top: 1px solid #cacaca; margin: 1rem 0 0; padding: 1rem 0 0; }
    #languageRootGuide .links-list div:first-child > ul:first-child { border-top: 0; margin: 0; padding: 0; }
    #languageRootGuide .links-list ul.no-border { border-top: 0; margin: 0; padding: 0; }
    #languageRootGuide .footer-link {margin: 10px 0 15px; }
    #languageRootGuide .footer-link { margin: inherit; }
    #languageRootGuide .podheader { background: none; height: 45px; }
    #languageRootGuide footer a.language-home { display: inline-block; }
    #languageRootGuide .footer-links .inner { display: block; text-align: center; }
}